body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f3f3;
  background: linear-gradient(153deg,#f3f3f3 0%, #e9e9e9 80%);
  background: -webkit-linear-gradient(153deg,#f3f3f3 0%, #e9e9e9 80%);
  background: -moz-linear-gradient(153deg,#f3f3f3 0%, #e9e9e9 80%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.main-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.textarea-container {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.textarea-blog {
  /* width: 50vw; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 10px;
}

.new-blog-btn {
  background-color: transparent;
  color: black;
  border: 1px solid grey;
  padding: 8px 16px;
  font-size: 21px;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.new-blog-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.ionicon {
  width: 28px;
  height: 24px;
  cursor: pointer;
}

.blog-single {
  position: relative;
  box-shadow: 1px -1px 9px 3px rgba(212,212,212,0.43);
  -webkit-box-shadow: 1px -1px 9px 3px rgba(212,212,212,0.43);
  -moz-box-shadow: 1px -1px 9px 3px rgba(212,212,212,0.43);
  background-color: #fff;
  border: 1px solid rgba(255,255,255,0.);
  list-style-type: none;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15pt;
  padding: 20pt 20pt 50pt 20pt;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.menu {
  position: absolute;
  right: 1rem;
  top: 2rem;
  max-height: 10rem;
  width: 10rem;
  background-color: #fff;
  border: 1px solid grey;
  box-shadow: 5px 2px 23px -6px rgba(191,191,191,0.75);
-webkit-box-shadow: 5px 2px 23px -6px rgba(191,191,191,0.75);
-moz-box-shadow: 5px 2px 23px -6px rgba(191,191,191,0.75);
  display: flex;
  flex-direction: column;
}

.menu button {
  width: 100%;
  background-color: transparent;
  font-size: 1rem;
  border: none;
  padding: 1rem 0;
}

.menu button:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.cancel-btn {
  border-top: 1px solid #999 !important;
}

.required-sign {
  padding: 0.3rem;
  vertical-align: top;
  color: red;
}

.blog-title {
  display: flex;
  justify-content: space-between;
  padding-right: 10pt;
  border-bottom: 1px solid grey;
}

.blog-container {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.blog-content {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 14pt;
  align-items: center;
}

.update-button {
  background-color: transparent;
  border: 1px solid blue;
}

.delete-button {
  background-color: transparent;
  border: 1px solid red;
}

.update-button,
.delete-button {
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.update-button:hover {
  background-color: rgba(0, 0, 255, 0.2);
}

.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.open-modal-btn {
  background-color: transparent;
  border: 1px solid grey;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.open-modal-btn:hover {
  background-color: rgba(255, 255, 255, 2);
}

.modal-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 3rem;
  border-radius: 4px;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.tb-form {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 10px;
}

.authortxt {
  color: #777;
}

.readmore-div {
  position: absolute;
  width: 100%;
  bottom:0;
  left:0;
}

.read-more-button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: darkblue;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -2px -19px 37px -4px rgba(255,255,255,0.75);
-webkit-box-shadow: -2px -19px 37px -4px rgba(255,255,255,0.75);
-moz-box-shadow: -2px -19px 37px -4px rgba(255,255,255,0.75);
  border: none;
  width: 100%;
  height: 6vh;
}